<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form">
    <div class="task_name">
      <%= form.label :Name %>
      <%= form.text_field :name%>
    </div>

    <div class="task_description">
      <%= form.label :Description %>
      <%= form.text_field :description%>
    </div>

    <div class="task_priority">
      <%= form.label :Priority %>
      <%= form.select :priority, options_for_select([[''],['high'], ['medium'], ['low']]), id: "priority" %>
    </div>
     <div class="task_status">
      <%= form.label :Status %>
      <%= form.select :status, options_for_select([[''],['Not started'], ['In progress'], ['Completed']]), id: "status"  %>
    </div>

    <div class="task_deadline">
      <%= form.label :Deadline %>
      <%= form.date_select :deadline, id: "deadline"%>
    </div>

    <% Label.all.each do |label| %>
    <%= form.check_box :label_ids, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
    <%= form.label :label_ids, label.name, class:"label-bg", value: label[:id]%>
    <% end %>
    <%= form.submit value:"Register", class: "btn btn-primary submit"%>
   </div>

  <% end %>

  <br>
  <%= link_to "Back ", tasks_path%>
