<p id="notice"><%= notice %></p>

 <h1>Task details</h1>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>
<p>
  <strong>Priority:</strong>
  <%= @task.priority %>
</p>
<p>
  <strong>Deadline:</strong>
  <%= @task.deadline %>
</p>
<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<h3>List of label associated with the task</h3>
<% @task.labels.pluck(:name).each do |task_label| %>
	<p><%= task_label %></p>
<% end %>

<p>
<button type="button" class="btn btn-info btn-sm" id="edit"><%=  link_to 'Edit', edit_task_path(@task) %></button>
<button type="button" class="btn btn-info btn-sm" id="back"><%= link_to 'Back', tasks_path %></button>
</p>
